* {
  box-sizing: border-box;
  font-family: "Formula1";
  margin: 0;
  padding: 0;
}

.navigation {
  position: fixed;
  top: 0; /* defining the position */
  overflow-y: auto; /* if context overflows, scroll bar is visible */
}

.topNav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 30px;
  background-color: rgb(30, 32, 33);
}

.fia {
  justify-self: start;
  width: 7rem;
  border-radius: 0.2cm;
  cursor: pointer;
}

.fia:hover {
  transform: scale(1.04);
}
.cars {
  width: 12rem;
}

.cars:hover {
  transform: scale(1.1);
}

.navigationContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(180, 5, 0);
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
  padding: 20px;
  padding-right: 85px;
  /* z-index: 10; */
}

.f1 {
  height: 40%;
  width: 10%;
  margin-left: 50px;
  cursor: pointer;
}
.f1:hover {
  transform: scale(1.04);
}

.link {
  display: inline-block;
  color: rgb(216, 213, 207);
  text-decoration: none;
  font-size: 1.1rem;
}
.link:hover {
  color: rgb(150, 96, 93);
  transform: scale(1.04);
}

.active {
  color: rgb(223, 204, 169);
  font-size: 1.15rem;
  font-weight: bolder;
  text-decoration-thickness: 3px;
}
