.bottom {
  margin: 30px;
  text-align: left;
  border: 0.05cm solid rgb(78, 77, 74);

  background-color: rgb(30, 32, 33);
}

.bottom p {
  margin-left: 20px;
  color: rgb(121, 117, 117);
  background-color: rgb(30, 32, 33);
}

.footer {
  margin: 20px;
  margin-left: 35%;
  color: rgb(121, 117, 117);
}

.urg {
  margin-top: 1rem;
  margin-left: 15rem;
}
